.fruits {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    padding: 10px;
    border: solid 5px rgb(11, 166, 212);
    text-align: center;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px
    
}

.fruits > img {
    width: 100px;

}

.fruits > p {
    margin: 0;
}

h3 {
   font-size: 2em; 
}

ul  {
    display: flex;
}